@import './main.scss';
.header-logo {
    img {
        width: 347px;
    }
}

.login-component {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background-color: #fff;
    .loginContent {
        padding: 50px 100px;
        .logoImg {
            text-align: center;
            img {
                width: 80px;
                height: 80px;
            }
            &.regLogo{
                padding-bottom: 40px;
            }
            &.loginLogo{
                padding-bottom: 30px;
            }
        }
        .loginForm {
            .inputDiv {
                border-bottom: solid 1px rgba(0, 35, 75, 0.25);
                margin-bottom: 11px;
                .input-field {
                    width: auto;
                    border: 0px;
                    padding: 10px;
                    outline: 0px;
                    height: 40px;
                }
                .input-field::-webkit-input-placeholder {
                    font-family: 'Montserrat';
                    font-size: 16px;
                    font-weight: 300;
                    text-align: left;
                    color: #00234b;
                }
                i {
                    font-size: 24px;
                    background: linear-gradient(225deg, #00bbe5, #00fd8e);
                    background-clip: text;
                    width: 25px;
                    display: inline-block;
                    vertical-align: sub;
                    text-align: center;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            .bizButton{
                margin-top: 20px;
            }
        }
        .options {
            text-align: center;
            .forgot-psw {
                padding-top: 25px;
                span {
                    font-family: 'Montserrat';
                    font-size: 12px;
                    text-align: center;
                    color: #00234b;
                    font-weight: 600;
                }
            }
            .register {
                padding-top: 25px;
                display: inline-flex;
                span {
                    font-family: 'Montserrat';
                    font-size: 14px;
                    font-weight: 300;
                    text-align: center;
                    color: #00234b;
                    &.bold {
                        font-weight: 600;
                        text-transform: capitalize;
                        padding-left: 5px;
                        cursor: pointer;
                    }
                }
            }
            .rememberMe {
                text-transform: lowercase;
                padding-top: 16px;
                span {
                    font-size: 14px;
                    font-weight: 300;
                    text-align: center;
                    color: #00234b;
                }
                label {
                    left: 70px;
                    margin: 0px;
                }
                @media screen and (min-width: 320px) and( max-width:768px){
                    label {
                        left: 45px;}
                }

            }
        }
    }
}

@media screen and (min-width: 320px) and( max-width:768px){
    .login-component {
        width: 300px;
        height: 450px;
        .loginContent {
            padding: 25px 17px 37px 17px;
            .logoImg {
                img{
                    height: 40px;
                }
            }
        }
    }
}

