@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat-Regular.eot');
    src: url('./../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('./../fonts/Montserrat-Regular.woff2') format('woff2'), url('./../fonts/Montserrat-Regular.woff') format('woff'), url('./../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import'./icon-style.css';
@import './bootstrap.min.css';
//theme colors
$blue:#00234b;
$white:#fff;
$gradient:linear-gradient(225deg,
#00bbe5,
#00fd8e);
body,
html {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    font-family: "Montserrat", "sans-serif" !important;
    font-size: 100%;
    color: $blue;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    overflow-x: hidden;
    /* this is important to render the fonts with correct font-weights */
}

#root,
#root>div {
    height: 100%;
}

hr {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    display: table;
    border: 0;
}

a {
    color: inherit;
    display: block;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    opacity: 0.9;
}

h1,
.h1 {
    font-size: 14px;
    text-transform: uppercase;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 24px;
}

p {
    line-height: 22px;
    font-size: 16px;
    font-weight: 300;
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

input[type=text] {
    border: 0px;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: 0px;
    outline-offset: 0px;
}

// global styles
/*scroll bar */

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 0px;
    background: transparent;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(177, 177, 177, 0.3);
}

// main container and background
.mainContainer {
    .header {
        padding: 50px 0px 20px 50px;
        position: fixed;
        z-index: 1020;
        width: 100%;
        height: 55px;
        padding: 0px 15px;
        margin: 0;
        background-color: #fff;
        opacity: 1;
        transform: translateY(0);
        transition: transform .3s cubic-bezier(.4, 0, .2, 1) .3s, opacity 0s .3s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        img {
            max-width: 180px;
            padding: 5px 15px;
        }
    }
}

.main-container {
    position: relative;
    width: calc(100% - 230px);
    margin-left: auto;
    top: 55px;
    .cotent-container{
        max-width: 95%;
        margin: auto;
        .card{
            padding: 15px;
            box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
            transition: box-shadow 135ms cubic-bezier(.4,0,.2,1),width 235ms cubic-bezier(.4,0,.2,1);
        }
    }
}

// fontawesome styles
.fas{
    padding: 3px 5px;
}
// breadcrumb styles
nav.breadcrumb {
        list-style: none;
        background-color: #ffffff;
        border-radius: 0;
        border-bottom: 1px solid $border-primary;
    ol {
        list-style: none;
        display: flex;
        margin-bottom: 0px;
        .list-item {
            padding: 4px 10px;
            position: relative;
            font-size: 12px;
            position: relative;
            &:before {
                content: '/';
                position: absolute;
                left: -2px;
            }
            &:first-of-type:before {
                content: '';
            }
        }
    }
}