.cancel-btn {
    width: 15px;
    height: 15px;
    font-size: 20px;
    color: #e7354f;
    float: right;
    cursor: pointer;
}
span {
    display: block;
    text-align: center;
}
.header-txt {
    height: 64px;
    font-family: 'Montserrat';
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    color: #00234b;
    margin-top: 40px
}
.msg-txt {
    margin: 40px;
}