.navigation {
    position: absolute;
    top: 55px;
    background: #fff;
    width: 230px;
    bottom: 0;
    overflow: auto;
    border-right: 1px solid $border-primary;
    .list-item {
        a {
            color: #000;
            padding: 10px 15px;
            border-bottom: 1px solid #f5f5f5;
            font-size: 14px;
            outline-offset: 0px;
            &.active {
                background: $theme-primary;
                color: $white;
            }
            &:hover,&:focus {
                background: $theme-secondary;
                color: $white;
            }
            &:focus{
                outline: 3px solid $black;
                outline-offset: -2px;
                transition: outline-offset ease-in 0.1s;
            }
        }
    }
}