.navigation {
    position: absolute;
    top: 55px;
    background: #fff;
    width: 230px;
    bottom: 0;
    overflow: auto;
    border-right: 1px solid $border-primary;
    .list-item {
        a {
            color: #000;
            padding: 10px 15px;
            border-bottom: 1px solid #f5f5f5;
            font-size: 14px;
            outline-offset: 0px;
            &.active {
                background: $theme-primary;
                color: $white;
            }
            &:hover,&:focus {
                background: $theme-secondary;
                color: $white;
            }
            &:focus{
                outline: 3px solid $black;
                outline-offset: -2px;
                transition: outline-offset ease-in 0.1s;
            }
        }
    }
    .metismenu{
        font-size: 14px;
        font-family: "Montserrat", "sans-serif" !important;
    }
    .metismenu-link {
        color: #000;
        text-shadow: none;
        margin-bottom: 1px;
        &.active{
            background: transparent;
            border-right: 3px solid $theme-primary;
        }
    }
    I.metismenu-icon{
        width: 15px;
    }
    .metismenu-container .metismenu-container,.metismenu{
        box-shadow: none;
        -webkit-box-shadow:none;
        background: transparent;
    }
    .metismenu::after{
        box-shadow: none;
        -webkit-box-shadow:none;
    }
    .link-child-active{
        background: #f5f5f5;
    }
    .metismenu-item .open{
            > .metismenu-link{
                // border-right: 3px solid $theme-primary;
            }
    } 
}